@color-primary: #1890ff;
@color-success: #46c93a;
@color-warning: #ff8200;
@color-danger: #ff4757;

.antd-colorful.ant-divider {
  &.divider-color-primary {
    color: @color-primary;
    border-color: @color-primary;
  }
  &.divider-color-success {
    color: @color-success;
    border-color: @color-success;
  }
  &.divider-color-warning {
    color: @color-warning;
    border-color: @color-warning;
  }
  &.divider-color-danger {
    color: @color-danger;
    border-color: @color-danger;
  }
}
